.bg_black_pop_up_windows {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 14px 18px 24px 18px;
    z-index: 20;
    background: var(--mc-black);
    transition: 1s ease-in-out;
    transform:translateY(100%)
}
.bg_black_pop_up_windows_on_the_right_darkening {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 19;
    background: var(--mc-darkening);
    pointer-events: all;
}
.bg_black_pop_up_windows_on_the_right_dark {
    position: fixed;
    top: 0;
    left: 50%;
    width: 50vw;
    height: 100vh;
    z-index: 20;
    background: var(--mc-black);
    padding: 40px 160px 48px;
    transition: 1s ease-in-out;
    transform:translateX(100%)
}

.open_pop_up{
    transform: translate(0)
}


.bg_white {
    background: var(--mc-white);
    color: var(--mc-black);
}
.bg_white * {
    color: var(--mc-black);
}
.bg_white a:hover {
    color: var(--mc-black);
}

.bg_transparent {
    height: 100vh;
    background: transparent;
}

.bg_nav_vinous, .bg_nav_black, .bg_nav_white {
    height: 80px;
    widows: 100vw;
    z-index: 4;
    position: sticky;
    top: 0;
    left: 0;
    background: linear-gradient(to top, transparent 0%, #6a3837 30%);
}
.bg_nav_black {
    background: linear-gradient(to top, transparent 0%, #0F0E0D 30%);
}
.bg_nav_white {
    background: linear-gradient(to top, transparent 0%, #ffffff 30%);
}
.about_us__foreground_picture {
    background-image: url('/img/about_us__picture_cigars.jpg');
    background-position:center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}

.about_us__bg_vinous, .about_us__bg_vinous_2 {
    position: absolute;
    left: 0;
    top: -25px;
    width: 100%;
    height: 1994px;
    background: var(--mc-vinous);
    z-index: -1;
}
.about_us__bg_vinous_2 {
    top: calc(1969px + 100vh);
}
.payment_and_delivery__bg_vinous, .payment_and_delivery__bg_vinous_2 {
    position: absolute;
    left: 0;
    top: -25px;
    width: 100%;
    height: 1572px;
    background: var(--mc-vinous);
    z-index: -1;
}
.payment_and_delivery__bg_vinous_2 {
    top: calc(1515px + 100vh);
}

.payment_and_delivery__foreground_picture {
    background-image: url('/img/payment_and_delivery__cigars.jpg');
    background-position:center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}
