a {
    text-decoration: none;
    color: var(--mc-white);
}

a:hover {
    color: var(--mc-white);
}

button {
    background: transparent;
    color: var(--mc-white);
    border: none;
    font-size: 16px;
}

input,
textarea {
    background: transparent;
    color: var(--mc-white);
    text-transform: uppercase;
    width: 100%;
    height: 42px;
    border: none;
    resize: none;
}

input:focus-visible,
textarea:focus-visible {
    outline: none;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: var(--mc-white);
}

.flat-button {
    background: var(--mc-dark-grey);
    color: var(--mc-white);
    border: solid 1px var(--mc-white);
    border-radius: 25px;
    width: 100%;
    height: 50px;
}

.flat-button-bg-light {
    background: var(--mc-white-01);
}

.round-button {
    background: var(--mc-white-01);
    color: var(--mc-white);
    border: solid 1px var(--mc-white);
    border-radius: 50%;
    width: 126px;
    height: 126px;
    transition: linear 0.2s;
}

.round-button:hover {
    background: var(--mc-white-06);
}

.round-button-middle {
    width: 135px;
    height: 135px;
}

.round-button-big {
    width: 200px;
    height: 200px;
}

.round-button-very-big {
    width: 294px;
    height: 294px;
}

.round-button-footer {
    position: absolute;
    bottom: -20px;
    right: 0;
}
.footer-black .round-button {
    background: var(--mc-grey-06);
    border: solid 1px var(--mc-black);
}

.flat-link {
    position: relative;
    display: block;
    overflow: hidden;
    height: 100px;
    width: 100%;
    color: var(--mc-white);
    z-index: 2;
    transition: 0.35s ease-in-out;
}

.flat-link:before {
    content: "";
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: transparent;
    transition: 0.35s ease-in-out;
    z-index: -1;
}

.flat-link:hover {
    color: var(--mc-vinous);
}

.flat-link:hover:before {
    background-color: var(--mc-white);
    transform: scaleY(100);
}

.input-main {
    height: 34px;
}

.textarea-main {
    height: 34px;
    position: relative;
}

.link-main {
/*    border-bottom: solid 1px transparent;*/
    transition: linear 0.35s;
}

.link-main:hover {
/*    border-bottom: solid 1px var(--mc-white);*/
}
.btn-item {
    width: 100%;
    padding: 2px 0 ;
    color: var(--mc-white);
    background: var(--mc-black);
}

/*
.button-up {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 70px;
    transition: 0.5s linear;
}

.button-up:before {
    content: "";
    position: absolute;
    top: -30px;
    left: -34px;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background-color: var(--mc-peach);
    transition: 0.5s ease-out;
    z-index: -1;
    transform: scale(0);
}

.button-up:hover {
    position: absolute;
    right: 90px;
    bottom: 0;
    width: 70px;
    transform: translateY(-20px)
}

.button-up:hover:before {
    transform: scale(1);
}
*/

.link-on-kuznechny,
.link-on-petrogradskoy {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 208px;
    border-top: solid 1px var(--mc-white);
}

.link-on-petrogradskoy {
    border-bottom: solid 1px var(--mc-white);
}

.underline-one {
    position: relative;
}
.underline-one:after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -1px;
    width: 0;
    height: 1px;
    background-color: var(--mc-white);
    transition: 0.5s;
}
.footer-black .underline-one:after {
    background-color: var(--mc-black);
}

.underline-one:hover:after {
    width: 100%;
    left: 0;
}

.filter-link {
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter-link:hover {
    color: var(--mc-black);
    background: #f8f8f8;
}

.filter-link-focus {
    background: var(--mc-black);
    color: var(--mc-white);
}

.filter-link-focus:hover {
    background: var(--mc-black);
    color: var(--mc-white);
}

.checkbox-filter {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    margin: 0;
    width: 24px;
    height: 24px;
    border: solid 1px var(--mc-black);
}

.checkbox-filter:checked {
    content: url(/img/checkbox.svg);
}

.radio-main input[type="radio"] {
    position: absolute;
    appearance: none;
}
.radio-main {
    display: flex;
    justify-content: flex-start;
    align-items: center
}
.radio-main-checkmark {
    width: 26px;
    height: 26px;
    border: solid 1px var(--mc-white);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.radio-main-checkmark div{
    width: 16px;
    height: 16px;
    background: var(--mc-black);
    border-radius: 100%;
}
.radio-main input[type="radio"]:checked ~ .radio-main-checkmark div{
    background: var(--mc-white);
}

.menu-link-img {
    transition: 0.5s;
    opacity: 0;
}
.menu-link:hover .menu-link-img {
    opacity: 1;
}

/* input range styles*/

.noUi-connect {
    margin-top: 1px;
    background: var(--mc-black) !important;
    height: 1px !important;
}

.noUi-touch-area {
    margin-top: 2px;
    background: var(--mc-black);
    border-radius: 100%;
    width: 10px !important;
    height: 10px !important;
}

.noUi-target,
.noUi-handle,
.noUi-handle:before,
.noUi-handle:after {
    border: none !important;
    box-shadow: none !important;
    content: none !important;
    background: none !important;
    z-index: 0 !important;
}

.noUi-horizontal .noUi-handle {
    right: -26px!important;
}
