.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    margin-bottom: 0;
}

.h1,
.h1-64 {
    font-size: var(--fs-48);
    font-weight: 500 !important;
    font-family: "Cormorant", serif;
    line-height: 58px;
}

.h1-64 {
    font-size: var(--fs-64);
}

.h2 {
    font-size: var(--fs-40);
    font-weight: 500 !important;
    font-family: "Cormorant", serif;
    line-height: 48px;
}

.h2-32 {
    font-size: var(--fs-32);
    line-height: 46px;
}

.h3 {
    font-size: var(--fs-24);
    line-height: 35px;
}

.h3-num {
    font-size: var(--fs-24);
    font-family: "Lato", sans-serif;
    line-height: 29px;
}

.h4 {
    font-size: var(--fs-20);
    font-weight: 400;
    line-height: 29px;
}

.h5 {
    font-size: var(--fs-18);
    font-weight: 400;
    line-height: 26px;
}

.h5-num {
    font-size: var(--fs-18);
    font-family: "Lato", sans-serif;
    line-height: 26px;
}

.fs-100 {
    font-size: var(--fs-100);
}

.fs-64 {
    font-size: var(--fs-64);
}

.fs-48 {
    font-size: var(--fs-48);
}

.fs-40 {
    font-size: var(--fs-40);
}

.fs-32 {
    font-size: var(--fs-32);
}

.fs-28 {
    font-size: var(--fs-28);
}

.fs-24 {
    font-size: var(--fs-24);
}

.fs-28 {
    font-size: var(--fs-28);
}

.fs-20 {
    font-size: var(--fs-20);
}

.fs-18 {
    font-size: var(--fs-18);
}

.fs-16 {
    font-size: var(--fs-16);
}

.fs-15 {
    font-size: var(--fs-15);
}

.fs-12 {
    font-size: var(--fs-12);
}

.fw-200 {
    font-weight: 200 !important;
}

.fw-300 {
    font-weight: 300 !important;
}

.fw-500 {
    font-weight: 500 !important;
}

.fw-700 {
    font-weight: 700 !important;
}

.fc-transparent {
    color: transparent;
}

.fc-black {
    color: var(--mc-black);
}

.fc-white {
    color: var(--mc-white);
}

.fc-white-2 {
    color: var(--mc-white-2);
}

.fc-vinous {
    color: var(--mc-vinous);
}

.fc-peach {
    color: var(--mc-peach);
}

.fc-grey {
    color: var(--mc-grey);
}

.flh-58 {
    line-height: 58px;
}

.flh-34 {
    line-height: 34px;
}

.flh-29 {
    line-height: 29px;
}

.flh-26 {
    line-height: 26px;
}

.flh-21 {
    line-height: 21px;
}

.ff-cormorant {
    font-family: var(--ff-cormorant);
}

.ff-lato {
    font-family: var(--ff-lato);
}

.fls-3 {
    letter-spacing: 0.8px;
}

.fls-01 {
    letter-spacing: -0.1px;
    line-height: 38px;
}
.number-place {
    font-family: var(--ff-cormorant);
    line-height: 24px;
    font-weight: 500;
    font-size: var(--fs-31);
}
@media screen and (min-width: 1200px) {
}

/*на экраны больших планшетов-----------------------------*/

/*на экраны планшетов-----------------*/
@media screen and (max-width: 1710px) and (min-width: 1540px) {
    .main__our_mug_div .h5,
    .main__our_mug_div .h5-num {
        font-size: var(--fs-16);
        line-height: 19px;
    }
}
@media screen and (max-width: 1705px) {
    .h2 {
        font-size: var(--fs-32);
        line-height: 39px;
    }
    .payment_and_delivery .h2-32 {
        font-size: var(--fs-22);
        line-height: 32px;
    }
    .h3 {
        font-size: var(--fs-22);
        line-height: 26px;
    }
    .h3-num {
        font-size: var(--fs-22);
        line-height: 26px;
    }
    .h4 {
        font-size: var(--fs-18);
        line-height: 26px;
    }
    .h5,
    .h5-num {
        font-size: var(--fs-16);
        line-height: 23px;
    }
}

/*на экраны планшетов-----------------*/

@media screen and (max-width: 1537px) {
    .h1 {
        font-size: var(--fs-40);
        line-height: 48px;
    }
    .h3,
    .h3-num {
        font-size: var(--fs-20);
        line-height: 26px;
    }
    .h4 {
        font-size: var(--fs-15);
        line-height: 22px;
    }
    .h5,
    .h5-num {
        font-size: var(--fs-15);
        line-height: 21px;
    }
    #enter .h1-64 {
        font-size: var(--fs-40);
        line-height: 15px;
    }
    #enter .h2-32 {
        font-size: var(--fs-20);
        line-height: 12px;
    }
}

@media screen and (max-width: 1199px) {
    .item .h1-64 {
        font-size: var(--fs-40);
        line-height: 15px;
    }
}
@media screen and (max-width: 978px) {
    .h1 {
        font-size: var(--fs-32);
        line-height: 48px;
    }
    .h2 {
        font-size: var(--fs-24);
        line-height: 29px;
    }
    .h3,
    .h3-num {
        font-size: var(--fs-16);
        line-height: 19px;
    }
    .text-mobile {
        font-size: var(--fs-13);
        line-height: 19px;
    }
    #enter .h1-64 {
        font-size: var(--fs-24);
        line-height: 15px;
    }
    #enter .h2-32 {
        font-size: var(--fs-20);
        line-height: 12px;
    }
    .filters-main .h4 {
        font-size: var(--fs-15);
        line-height: 21px;
    }
}

/*на экраны телефонов*/

@media screen and (max-width: 737px) {
    .h5,
    .h5-num,
    .filters-main .h4 {
        font-size: var(--fs-13);
        line-height: 18px;
    }
    #enter .h1-64 {
        font-size: var(--fs-20);
        line-height: 15px;
    }
    #enter .h2-32 {
        font-size: var(--fs-12);
        line-height: 12px;
    }
}

/*на очень маленькие экраны телефонов*/

@media screen and (max-width: 556px) {
    .h1 {
        font-size: var(--fs-26);
        line-height: 48px;
    }
    .h3,
    .h3-num {
        font-size: var(--fs-15);
        line-height: 18px;
    }
    .to-wholesale-buyers .h1 {
        font-size: var(--fs-24);
        line-height: 38px;
    }
    /*
    .text-mobile {
        font-size: var(--fs-10);
        line-height: 15px;
    }
*/
    /*
    .fs-sm-7 {
        font-size: var(--fs-7);
        line-height: 10px;
        text-align: justify;
    }
*/
    .h5,
    .h5-num,
    footer .h4,
    .filters-main .h4 {
        font-size: var(--fs-10);
        line-height: 15px;
    }
    /*
    #enter .h1-64 {
        font-size: var(--fs-12);
        line-height: 15px;
    }
    #enter .h2-32 {
        font-size: var(--fs-10);
        line-height: 12px;
    }
*/
    .item .h1-64 {
        font-size: var(--fs-32);
        line-height: 34px;
    }
}

@media screen and (max-width: 400px) {
    .main__bg_black_div .h1 {
        font-size: var(--fs-20);
        line-height: 40px;
    }
    .to-wholesale-buyers .h1 {
        font-size: var(--fs-22);
        line-height: 30px;
    }

    .item .h1-64 {
        font-size: var(--fs-24);
        line-height: 30px;
    }
}
@media screen and (max-width: 330px) {
    .main__bg_black_div .h5 {
        font-size: var(--fs-9);
        line-height: 12px;
    }
}
