.mt-3192px {
    margin-top: 3192px
}
.mt-2202px {
    margin-top: 2202px
}
.mt-1270px {
    margin-top: 156px
}
.mt-1200px {
    margin-top: 1200px
}
.mt-950px {
    margin-top: 950px
}
.mt-400px {
    margin-top: 400px
}
.mt-235px {
    margin-top: 235px
}
.mt-168px {
    margin-top: 168px
}
.mt-156px {
    margin-top: 156px
}
.mt-110px {
    margin-top: 110px
}
.mt-96px {
    margin-top: 96px
}
.mt-75px {
    margin-top: 75px
}
.mt-19px {
    margin-top: 19px
}
.ms-96px {
    margin-left: 96px
}

.mt-196px-for-form {
    margin-top: 196px
}
.mt-76px-for-form {
    margin-top: 76px
}

.pe-60px {
    padding-right: 60px;
}
.pe-35px {
    padding-right: 35px;
}
.ps-12px {
    padding-right: 12px;
}

@media screen and (min-width: 1400px) {

}


/*на экраны больших планшетов-----------------------------*/

@media screen and (max-width: 1199px) {

}


/*на экраны планшетов-----------------*/

@media screen and (max-width: 991px) {
}



/*на экраны телефонов*/

@media screen and (max-width: 767px) {

}



/*на очень маленькие экраны телефонов*/

@media screen and (max-width: 575px) {
}
