/* Скрытие скроллбара во всех браузерах */
::-webkit-scrollbar {
  display: none; /* Для веб-кит браузеров (Chrome, Safari, Opera) */
}
/* Дополнительные стили, чтобы скрытый скроллбар не занимал место */
body {
  scrollbar-width: none; /* Для Firefox */
  -ms-overflow-style: none; /* Для Internet Explorer и Edge */
}

.transform_show {
    transform: translate(0) !important;
}
.transform_up {
    transition: 1s ease-in-out;
    transform: translateY(-100%);
}
.transform_down {
    transition: 1s ease-in-out;
    transform: translateY(100%);
}
.transform_right {
    transition: 1s ease-in-out;
    transform: translateX(110%);
}

.basket__scroll_div {
    margin-top: 72px;
    height: 570px;
}
.plus_minus_basket {
    width: 29px;
    height: 29px;

}
.grid-col-2 {
    display: grid;
    grid-template-columns:50% 50%;
    height: 294px;
}
.grid-col-2 > img{
    width: 294px;
    height: 294px;
}
.top--25px {
    top: -25px;
}
.top-2500px {
    top: 2720px;
}
.h-4000px{
  height: 4000px;
}
.h-2036px{
  height: 2036px;
}
.h-680px{
  height: 680px;
}
.h-100px{
  height: 100px;
}
.h-37px {
    height: 37px;
}
.z-index-2 {
    z-index: 2;
}
.z-index-1 {
    z-index: 1;
}
.z-index-0 {
    z-index: 0;
}

.text-align-justify {
    text-align: justify;
}

.width-375px {
    max-width: 375px;
}
.width-453px {
    max-width: 453px;
}
.border-top {
    border-top: solid 1px var(--mc-white);
}
.border-top-grey {
    border-top: solid 1px var(--mc-grey);
}
.border-top-black {
    border-top: solid 1px var(--mc-black);
}
.border-right-black {
    border-right: solid 1px var(--mc-black);
}
.border-bottom {
    border-bottom: solid 1px var(--mc-white);
}
.rotate-45 {
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.rotate-180 {
    -ms-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
}
.transition-05 {
    transition: 0.5s;
}

.rotating {
    animation: rotation 15s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
#pagination-demo {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#data-container {
  margin-top: 20px;
}
